<!DOCTYPE html>
<html>
  <head>
    <title>Pay Rego Fees</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
        <form action="/create-checkout-session" method="POST">
            <select name="fees" id="fees">
                <% for (let fee of fees.fees) { %>
                    <option id="<%= fee.name %>" value="<%= fee.stripe_id %>"><%= fee.description %> $<%= fee.price/100 %></option>
                <% } %>    
            </select>
        <button type="submit" id="checkout-button">Pay</button>
        </form>
    </section>
  </body>
</html>